@import 'variables';

body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#app{
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: auto;
}

table{
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;

  thead{
    border-bottom: 1.5px solid #c8c8c8;
  }

  tbody{
    tr{
      border-bottom: 1px solid #e0e0e0;
    }
  }

  tr{
    th{
      text-align: left;
    }
    td, th{
      padding:  .3em .5em;
    }
  }
}

.header{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-grow: 0;
  background: $accentColor;
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.44);
  z-index: 2;
}

.popup{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
    border-radius: 0.4em;
    box-shadow: 0 7px 32px rgba(0,0,0,.15), 0 3px 6px rgba(0,0,0,.2);

    .action-button{
      margin: 0 auto;
      margin-top: 1em;

      button{
        font-size: 16px;
        outline: none;
      }

      .cancel{
        border: none;
        background: none;
      }

      .valid{
        border: none;
        background: $accentColor;
        border-radius: .3em;
        padding: .3em .5em;
        box-shadow: 0px 2px 3px 0px rgba($accentColor, 0.4);
        transition: box-shadow .2s;

        &:hover{
          box-shadow: 0px 2px 5px 3px rgba($accentColor, 0.4);
        }
      }
    }
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0, 0, 0, 0.33);
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em 0;

  label{
    &:after{
      content: ':';
    }
  }
}

.editButton{
  background: $accentColor;
  position: fixed;
  bottom: 2em;
  right: 3em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 3em;
  padding: 1em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
}

.pointer{
  cursor: pointer;
}

.fleur_img{
  img{
    width: 20px;
    // transition: width .3s;
    // &:hover{
    //   width: 100%;
    //   transition: width .5s
    // }
  }
}
